<!-- <div style="display: block">
    <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors"
        [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
</div> -->

<div class="select-time">
    <div>
        <span>Thống kê từ: </span>
        <nz-range-picker ngModel [(ngModel)]="DateNow" (ngModelChange)="onChange($event)" nzFormat="dd-MM-yyyy">
        </nz-range-picker>
    </div>
</div>

<div class="chart-container">
    <canvas id="canvas">{{LineChart}}</canvas>
</div>