.search{
    width: 12rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

nz-header {
        background: #fff;
        padding: 0;
    }


nz-breadcrumb {
        margin: 16px 0;
}

nz-content{ 
       padding: 1rem 1.5rem;
    }

.inner-content{
        padding: 24px;
        background: #fff;
        min-height: 620px;
}

.select-time{
    margin: auto;
    width: 40%;
    padding: 10px;
}

button {
    margin-left: 1rem;
}

