.search{
    width: 12rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}



nz-header {
        background: #fff;
        padding: 0;
    }


nz-breadcrumb {
        margin: 16px 0;
}

nz-content{ 
       padding: 1rem 1.5rem;
    }

.inner-content{
        padding: 24px;
        background: #fff;
        min-height: 620px;
}

.page {
    padding-top: 10px;
}

.search-box {
    padding: 8px;
  }

.search-box input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
  }

.search-box button {
    width: 90px;
  }

.search-button {
    margin-right: 1px;
  }